
services:
  server:
    build:
      context: .
    ports:
      - "8082:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/events-db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:18-alpine
    restart: always
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=events-db
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    ports:
      - "5434:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ] #-U postgres to define the user for the check. CMD-SHELL for using parameters
      interval: 10s
      timeout: 5s
      retries: 15
volumes:
  db-data:

